/* TODO: signUp.css와 합치기 */
@import url(../../root.css);

:root {
  --change-password-max-width: 500px;
  --change-password-padding: 10px;

  --change-password-item-gap: 10px;
  --change-password-item-input-gap: 5px;
}

.change-password-container {
  display: flex;
  flex-direction: column;
  border: var(--default-border);
  border-radius: 10px;
  max-width: var(--change-password-max-width);
  margin: auto;
  font-size: 1rem;
  padding: var(--change-password-padding);
}

.change-password-container > *:not(:last-child) {
  margin-bottom: var(--change-password-item-gap);
}

.change-password-item {
  display: flex;
  flex-direction: column;
}

.change-password-item > *:not(:last-child) {
  margin-bottom: var(--change-password-item-input-gap);
}

.change-password-item > input {
  border: var(--default-border);
}

.change-password-item-reset-password {
  font-size: 0.7rem;
  text-align: right;
}

.change-password-item-alert {
  font-size: 0.8rem;
  color: var(--red-color);
}

.change-password-item-btn {
  margin: auto;
  background-color: var(--half-sky-color);
}
