@import url(../../root.css);
@import url(../header/header.css);

:root {
  /* Size */
  --home-height: calc(100vh - var(--header-height-size));
}

.home-container {
  display: flex;
  flex-direction: row;
  height: var(--home-height);
}
