@import url(../../root.css);

:root {
  /* Size */
  --side-bar-width: 80px;
  --side-bar-padding: 10px;
  --side-bar-item-gap: 10px;
  --side-bar-item-radius: 10px;
}

.side-bar {
  display: flex;
  flex-direction: row;
}

.side-bar > * {
  border-right: var(--default-border);
}

.side-bar-buttons {
  width: var(--side-bar-width);
  padding: var(--side-bar-padding);
  display: flex;
  flex-direction: column;
}

.side-bar-buttons > .side-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--side-bar-item-radius);
  border: var(--default-border);
  white-space: pre-line;
}

.side-bar-buttons > .side-bar-item:not(:first-child) {
  margin-top: var(--side-bar-item-gap);
}

.side-bar-ext-container {
  display: flex;
  flex-direction: row;
  left: calc(var(--side-bar-width));
  position: absolute;
  z-index: 2;
  overflow: hidden;
  border-right: none;
}

.slide {
  animation-name: slidein;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
